.mc-page-container {
    background-image: url('imagens/background.png') !important;
    height: 100%;
}

.mc-header {
    background: white;
    padding: 1.5rem 0;
}

.mc-title {
    color: #333;
    font-weight: 800;
    margin: 0;
}

.mc-form-card {
    background: white;
    border-radius: 20px;
    padding: 2.5rem;
    border: none;
}

.mc-image-preview {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: #f1f1f1;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px dashed #ddd;
}

.mc-placeholder {
    color: #aaa;
    display: flex;
    flex-direction: column;
}

.mc-btn-save {
    background: #ffcc00;
    color: #000;
    border: none;
    padding: 15px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.1rem;
    transition: all 0.3s;
}

    .mc-btn-save:hover:not(:disabled) {
        background: #e6b800;
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(255, 204, 0, 0.4);
    }

    .mc-btn-save:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }

.mc-select-custom {
    border-radius: 12px 0 0 12px !important; /* Arredonda só a esquerda */
    border: 1px solid #dee2e6;
}

.mc-btn-add {
    border-radius: 0 12px 12px 0 !important; /* Arredonda só a direita */
    border: 1px solid #dee2e6;
    border-left: none;
    background-color: #fff9e6;
    color: #f0aa42;
    padding: 0 15px;
}

    .mc-btn-add:hover {
        background-color: #f0aa42;
        color: white;
    }
